<div class="path-name">
  <h1 class="p-component lg:font-bold">Employees</h1>
  <h1 class="p-component next">{{employee?.firstName}} {{employee?.lastName}} profile</h1>
</div>
<div class="empl-list">
  <p-tabMenu [model]="menu" [activeItem]="menu[0]" (click)="selectMenu()"></p-tabMenu>
  <div *ngIf="!infoOrCV">
    <app-employee-form [hideButtons]="false" [employee]="employee"
                       (saveEmployee)="saveEmployee($event)"></app-employee-form>
  </div>
  <div *ngIf="infoOrCV">
    <div class="cv-block">
      <div class="width-cv">
        <p-table [value]="virtualCV" responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedCV">
          <ng-template pTemplate="body" let-cv>
            <tr [pSelectableRow]="cv">
              <td class="pi">
                CV {{virtualCV.indexOf(cv) + 1}}
              </td>
              <td class="pi">&nbsp;</td>
              <td (click)="delete(cv.id)" class="pi pi-trash trash">
              </td>
              <td (click)="generatePDF(cv)" class="pi pi-file-pdf cursor-pointer">

              </td>
            </tr>
          </ng-template>
        </p-table>
        <button class="p-button pi pi-plus bg-bluegray-200 border-bluegray-200 add-cv" (click)="addCV()"></button>
      </div>
      <div #cvBlock class="cv-width">
        <app-employee-form [hideButtons]="true" [employee]="employee"></app-employee-form>
        <ng-container *ngIf="virtualCV.length > 0">
          <div class="add-project">
            <p-dropdown class="dropdown" inputId="dropdown" [autoDisplayFirst]="true" [options]="projects$ | async"
                        [(ngModel)]="projectToAdd" optionLabel="name"></p-dropdown>
            <button class="p-button add-project-button" (click)="addProject(projectToAdd)">Add project</button>
          </div>
          <div class="accordion">
            <p-accordion *ngFor="let project of selectedCV?.data.projects; let index = index" [multiple]="true">
              <p-accordionTab header="{{project.name}}">
                <app-project-form [isCV]="true" [projectCV]="project"></app-project-form>
              </p-accordionTab>
            </p-accordion>
          </div>
          <div class="cv-buttons">
            <button class="p-button " (click)="saveVirtualCV()">Save</button>
            <button class="p-button close-button" (click)="cancelVirtualCV()">Cancel</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

