<div class="empl-list">
  <div [hidden]="isCV" >
    <button pButton class="add">Archive</button>
  </div>
  <div class="form-input">
    <div class="p-fluid grid" [formGroup]=projectForm>
      <div class="field col-12 md:col-4">
        <div class="p-component">Name</div>
        <app-app-input formControlName="name" label="name"></app-app-input>
        &nbsp;
      </div>
      <div class="field col-12 md:col-4">
        <div class="p-component">Start Date</div>
        <app-app-datepicker [isStart]="true" formControlName="startDate"></app-app-datepicker>
        &nbsp;
      </div>
      <div class="field col-12 md:col-4">
        <div class="p-component">End Date</div>
        <app-app-datepicker [isStart]="false" formControlName="endDate"></app-app-datepicker>
        &nbsp;
      </div>

      <div class="field col-12 md:col-4">
        <div class="p-component">Second Name</div>
        <app-app-input formControlName="secondName" aria-placeholder="placeholder" label="secondName"></app-app-input>
        &nbsp;
      </div>
      <div class="field col-12 md:col-4">
        <div class="p-component">Team size</div>
        <app-app-input formControlName="teamSize" aria-placeholder="placeholder" label="teamSize"></app-app-input>
        &nbsp;
      </div>
      <div class="field col-12 md:col-4">
        <span class="p-component">Task performed</span>
        <app-app-input formControlName="teamSize" aria-placeholder="taskPerformed" label="taskPerformed"></app-app-input>
        &nbsp;
      </div>

      <div class="field col-12">
        <div class="p-component">Responsibilities</div>
        <app-app-multiselect optionLabelField="name" [options]="responsibilities$ | async"
                             formControlName="responsibilities" defaultLabel="Select a responsibility">
        </app-app-multiselect>
        &nbsp;
      </div>
      <div class="field col-12">
        <div class="p-component">Project Roles</div>
        <app-app-multiselect optionLabelField="name" [options]="projectRoles$ | async" formControlName="projectRoles" defaultLabel="Select a project role"></app-app-multiselect>
        &nbsp;
      </div>
      <div class="field col-12">
        <div class="p-component">Specializations</div>
        <app-app-multiselect *ngIf="!isCV" optionLabelField="name" [options]="specializations$ | async" formControlName="specializations" defaultLabel="Select a project role"></app-app-multiselect>
        &nbsp;<app-app-multiselect *ngIf="isCV" [options]="specializations$ | async" formControlName="specializations" defaultLabel="Select a project role"></app-app-multiselect>
      </div>

      <div class="field col-12 md:col-9">
        <div class="p-component">Description</div>
        <app-app-textarea formControlName="description" aria-placeholder="Autoresize"></app-app-textarea>
        &nbsp;
      </div>

    </div>
  </div>
  <div *ngIf="!isCV" style="display:flex;">
      <button class="p-button save-button" style="margin-bottom: 20px !important;" (click)="save()">Save</button>
      <button class="p-button close-button" style="margin-bottom: 20px !important;" (click)="cancel()">Cancel</button>
  </div>
</div>
